@model List<CarrosModeloModel>

@{
    var parametro = Context.Request.Query["Message"].ToString();

    var alertSucces = parametro == "Ok";
    var alertError = parametro == "NOk";
    var textoMensagem = Context.Request.Query["TextMessage"].ToString();
}

@if (alertSucces)
{
    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
        <span class="badge badge-pill badge-success">Success</span>
        Realizado com sucesso!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}
else if (alertError)
{
    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
        <span class="badge badge-pill badge-danger">Error</span>
        @(string.IsNullOrEmpty(textoMensagem) ? "Realizado com sucesso!" : textoMensagem)
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}

<div class="col-lg-8">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Modelos</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Ano</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var modelo in Model)
                    {
                        <tr>
                            <th scope="row">@modelo.Id</th>
                            <td>@modelo.Modelo</td>
                            <td>@modelo.Marca</td>
                            <td>@modelo.Ano</td>
                            <td><a href="@Url.ActionLink("Edit", "CarrosModelo", new { id = modelo.Id })" class="btn btn-primary btn-sm">Editar</a> | <a href="@Url.ActionLink("Delete", "CarrosModelo", new { id = modelo.Id })" class="btn btn-danger btn-sm">Deletar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">
        <div class="card-header">
            <strong>Novo Modelo</strong>
        </div>
        <div class="card-body card-block">
            <form action="@Url.Action("Create","CarrosModelo")" method="post" class="">
                <div class="form-group">
                    <label for="modelo" class="form-control-label">Modelo</label>
                    <input type="text" id="modelo" name="modelo" placeholder="Modelo do carro..." class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="marca" class="form-control-label">Marca</label>
                    <input type="text" id="marca" name="marca" placeholder="Marca do carro..." class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="ano" class="form-control-label">Ano de lançamento</label>
                    <input type="number" id="ano" name="ano" placeholder="Ex: 2019" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Cadastrar
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Cancelar
                    </button>
                </div>
            </form>
        </div>

        <div class="card-footer">
        </div>
    </div>
</div>